*, *:before, *:after {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0px;
    padding: 0px;

}

.header--container { 
    
    margin: 0;
    padding: 0; 
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color:#34302d;
}

.header-menu-list {
    margin: 0;
    padding: 0;
    width:100%;
    
    display:flex;
    justify-content: space-around;
    list-style: none;
}
.header-menu-item {
    color: #fff;
    
}

.header-menu-link {
    display: block;
    text-transform: uppercase;
    color: #fff;
    text-decoration:none;
    font-weight: bold;
    padding:20px;
}

.header-menu-link:hover {
    background-color: #6db33f;
}
.navbar {
    max-width: 1024px;
    margin:0 auto;
    
    display:flex;
    justify-content: space-between;
}
.spring-logo {
    display:inline-block;
    
    min-width:250px;
    height: 50px;
    
    background: url("../img/spring-logo.png") 1px 0px no-repeat ;
}
.spring-logo:hover {
    background: url("../img/spring-logo.png") -0px -45.6px no-repeat ;
}


