.menu {
    top: 0;
    left: 0;
    position: absolute;
    
    transform: translateX(-200%);
    transition: 0.2s;
    
    background-color: #34302d;
    height: 100%;
    width: 160px;

}

ul.dws-ul {
    display: flex;
    flex-direction: column;
    padding: 0;

}

li.dws-li {
    list-style: none;
    padding: 10px;
}

li.dws-li a {

    text-decoration: none;
    font-size: 18px;
    color: #000;
    border-bottom: 1px solid #474441
}

li.dws-li a i {
    margin-right: 10px;
}

.mobile-menu__button {
    margin-left: 200px;
}

.mobile-menu__line {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 2px 0;
}
.mobile-menu__visible {
    transform: translateX(0%);
}





.mobile-menu {
    top: 0;
    left: 0;
    position: absolute;
    
    transform: translateX(-200%);
    transition: 0.2s;
    
    background-color: #34302d;
    height: 100%;
    width: 160px;

}

ul.navigation-item-list {
    display: flex;
    flex-direction: column;
    padding: 0;

}

li.mobile-menu__navbar-link {
    list-style: none;
    padding: 10px;
}

li.mobile-menu__navbar-link a {

    text-decoration: none;
    font-size: 18px;
    color: #000;
    border-bottom: 1px solid #474441
}

li.mobile-menu__navbar-link a i {
    margin-right: 10px;
}