*,
*:before,
*:after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
    font-family: varela round, sans-serif;
    font-size: 14px;

}

h1,
h2,
h3 {
    color: #34302d;
}


@media (min-width: 600px) and (max-width: 1037px) {
    .container-wrap {
        max-width: 100%;
        padding: 0 20px;
    }

    .header-menu {
        display: none;
    }

    .header--container {
        border: none !important;
        height: 50px;
    }

    .menu-button {
        display: flex !important;
    }

    .spring-logo--container {
        margin: 0 auto;
    }

    .spring-logo {

        width: 102px !important;
        height: 30px !important;
        background: url("../img/spring-logo.png") 0px -30px no-repeat !important;
        background-size: 140% !important;
        margin: 10px 0px;
    }

    article {
        margin-top: 10px !important;
    }

    .card {
        flex-grow: 2;
    }
}

.container-wrap {
    max-width: 1024px;
    margin: 0 auto;
}

.header--container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 5px solid #6db33f;
    background-color: #34302d;
}

.header-menu-list {
    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header-menu-item {
    color: #fff;

}

.header-menu-link {
    display: block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 28px 20px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
}

.header-menu-link:hover,
.active-menu-link {
    background-color: #6db33f;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.menu-button {
    display: none;
    border: none;
    margin-left: -30px;
    background-color: transparent;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 70px;
}

.menu-button--line {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 2px 0;
}

.spring-logo--container {
    display: flex;
    align-items: center;
}

.spring-logo {
    display: inline-block;
    background-size: cover;
    width: 224px;
    height: 46px;
    background: url("../img/spring-logo.png") no-repeat;
}

.spring-logo:hover {
    background: url("../img/spring-logo.png") 0px -47px no-repeat;
}

p {
    margin-top: 25px;
    margin-bottom: 50px;
    font-family: varela round, sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #34302d;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
}

.main-project {
    margin-top: 100px;
    margin-bottom: 100px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200px;
}

.card {
    padding: 20px 5%;
    /*
    flex-grow: 2;
    flex-basis:264px;
    */
    width: 330px;
    height: 402px;
    color: #34302d;
    border: 1px solid #ddd;
    margin-bottom: 2%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.card:hover {
    border-color: #34302d;
    transition: 0.3s;
}

.card-icon--container {
    display: flex;
    height: 135px;
}

.card-icon {

    position: relative;
    margin: 0 auto;
}

.icon-1 {
    align-self: center;
    width: 102px;
    height: 90px;
    background: url("../img/iconsprite.png") no-repeat;
    background-position: -858px -363px;
}

.icon-2 {

    width: 135px;
    height: 133px;
    background: url("../img/iconsprite.png") no-repeat;
    background-position: -483px -363px;
}

.icon-3 {
    align-self: center;
    width: 130px;
    height: 105px;
    background: url("../img/iconsprite.png") no-repeat;
    background-position: -333px -133px;
}

.icon-4 {
    width: 150px;
    height: 111px;
    background: url("../img/iconsprite.png") no-repeat;
    background-position: -748px -245px;
}

.icon-5 {
    width: 111px;
    height: 111px;
    background: url("../img/iconsprite.png") no-repeat;
    background-position: -483px -688px;
}

.icon-6 {
    width: 145px;
    height: 104px;
    background: url("../img/iconsprite.png") no-repeat;
    background-position: -640px -523px;
}

.card-title {
    text-decoration: none;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

p.card-description {
    font-style: 14px;
    line-height: 20px;
    text-align: center;
    color: #34302d;
}

.footer {

    padding: 30px 0;
    background-color: #34302d;
    color: #fff;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer-menu {
    margin-bottom: 30px;

}

.footer-menu-list {
    display: flex;
    list-style: none;
    margin-bottom: 10px;
}

.footer-menu-item {
    font-size: 12px;
    line-height: 12px;
    margin-right: 40px;
    text-transform: uppercase;
}

.copyrights a {
    color: #6db33f;
}