@media (max-width: 999px) {
    .mobile-search-container {
        margin: 15px;
        padding: 5px;
        background-color: #464340;
    }

    .mobile-search__input {
        width: 90%;
        height: 20px;
        padding: 0 10% 0 0;
        background-color: transparent;
        border: none;
        color: #fff;
    }

    .mobile-search-form__search-icon {
        color: #807d7b;
        font-size: 18px;
    }
    .mobile-search-form__submit {
        position: absolute;
        border: none;
        background-color: transparent;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }
}